.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
  }

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  }

.arena___right-fighter img {
  transform: scaleX(-1);
  }

.arena___fighter img {
  height: 480px;
  }

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
  }

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
  }

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
  }

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
  }

.arena___health-bar {
  height: 100%;
  width: 100%;
  background-color: #ebd759;
  }

.arena___shields-container {
  top: 30%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  }

.arena___right-shield, .arena___left-shield {
  visibility: hidden;
  }

.shield-img {
  height: 30vh;
  }

.arena___fists-container, .arena___fireballs-container {
  top: 40%;
  left: 20%;
  width: 60%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  }

.fist-img{
  height: 7vh;
  }

.arena___right-fist, .arena___left-fist, .arena___right-fireball, .arena___left-fireball {
  opacity: 0;
  }

.arena___left-fist-show, .arena___left-fireball-show {
  opacity: 1;
  animation-name: moveToTheRight;
  animation-duration: 0.3s;
  }
.arena___right-fist-show, .arena___right-fireball-show {
  opacity: 1;
  animation-name: moveToTheLeft;
  animation-duration: 0.3s;
  }

.arena___left-fist img {
  transform: rotate(90deg) scaleX(-1);
  }

.arena___right-fist img {
  transform: rotate(-90deg);
  }

.arena___right-fireball img, .arena___right-superindicator img {
  transform: scaleX(-1);
  }

.arena___fireballs-container .fireball-img {
  height: 25vh;
  }

.arena___superindicators-container {
  position: absolute;
  top: 2%;
  left: 5%;
  display: flex;
  width: 90%;
  justify-content: space-between;
  }

.arena___superindicators-container .fireball-img {
  height: 10vh;
  }

@keyframes moveToTheRight {
  0% {opacity: 1;margin-left:0}
  90% {opacity: 0.9;margin-left:23vw}
  100% {opacity: 0;margin-left:20vw}
  }

@keyframes moveToTheLeft {
  0% {opacity: 1;margin-right:0}
  90% {opacity: 0.9;margin-right:23vw}
  100% {opacity: 0;margin-right:25vw}
  }
